{
        "semi": true,
        "singleQuote": true,
        "tabWidth": 8,
        "trailingComma": "none",
        "printWidth": 110,
        "bracketSpacing": true,
        "bracketSameLine": false,
        "arrowParens": "always",
        "proseWrap": "always",
        "endOfLine": "lf"
}
